* {
    font-family: monospace;
}

body {
    background-color: #010409;
    color: #f0f6fc;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 14px;
}

button {
    background-color: #212830;
    color: #fff;
    margin-top: .5em;
    border: #3a414a solid 1px;
    border-radius: 3px;
    padding: .4em .8em;
    cursor: pointer;
    transition: background-color 0.12s ease, border-color 0.12s ease, transform 0.06s ease;
}

input {
    background-color: #0d1117;
    color: #f0f6fc;
    margin-top: .2em;
    border: #3a414a solid 1px;
    border-radius: 3px;
    padding: .4em .6em;
    transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
}

button:hover {
    background-color: #2b3340;
    border-color: #4a5562;
    color: #fff;
    transform: translateY(-1px);
}

button:active {
    background-color: #181a1d;
    border-color: #2b2f33;
    color: #e6eef8;
    transform: translateY(0);
}

input:hover {
    background-color: #0f1620;
    border-color: #4a5562;
}

input:focus {
    background-color: #0b1220;
    border-color: #58a6ff;
    outline: none;
    color: #c9d1d9;
    box-shadow: 0 0 0 3px rgba(88,166,255,0.12);
}

.form {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-card {
    width: 60vw;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "name username"
    "img img"
    "bio bio"
    "created updated"
    "followers following"
    "repos repos"
    "email location"
    "company blog";
    grid-template-rows: 1fr 2fr 1fr repeat(5, 0.5fr);
    grid-template-columns: 1fr 1fr;
}

#profimg-display {
    height: 20vh;
    grid-area: img;
}

#name-display {
    grid-area: name;
}

#username-display {
    grid-area: username;
    color: #6a9955;
}

#bio-display {
    grid-area: bio;
}

#public-repos-display {
    grid-area: repos;
}

.display-card.loaded {
    border: white 1px solid;
    transition: border-color 0.12s ease;
}

/* Prevent Chrome autofill from changing colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #0d1117 inset !important;
    box-shadow: 0 0 0px 1000px #0d1117 inset !important;
    -webkit-text-fill-color: #f0f6fc !important;
    transition: background-color 5000s ease-in-out 0s;
}